[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ndg-httpsclient = "*"
pyasn1 = "*"
urllib3 = "*"
pyOpenSSL = "*"
edgegrid-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
